*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color1: rgb(201, 3, 3);
    --color2: rgb(133, 11, 11);
    --color3: rgb(156, 148, 102);
}
body{
    background-color:#eee;
}
/* navbar style */
.navbar{
    background-color:white;
    padding:0;
    margin-bottom:0px !important;
}
.navbar a{
    padding:0;
    color:black;
    margin-left:15px;
    font-size:20px;
    font-weight:600;
}
.navbar a:hover{
    color: var(--color1);
}
.navbar .active{
    color:var(--color2);
    font-weight:700;
}

/* header style */
#header{
    height:600px;
    width:100%;
    position:relative;
}

#header img{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
#header .overlay{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(175, 175, 175, 0.267);
}

/* gallery style */

#gallery{
    padding:100px 50px;
    background-color: white;
}

#gallery .gallery-body{
    column-count: 3;
}

#gallery img{
    width:100%;
    margin:15px;
}


/* contact style */
#contact-flex{
    display:flex;
    background-color:var(--color1);
    text-align:center;
    padding:30px;
    justify-content: space-around;
}

#contact-flex .contact-item{
    margin:10px;
    border-right:2px solid white;
    padding-right:20px;
    color:white;
}

#contact-flex .contact-item3{
    border-right:none;
}

#contact-flex h3 span{
margin-right:10px;
font-size:35px;
}

/* footer styling */


footer{
    width:100%;
    height:220px;
    padding-top:20px;
    display: flex;
}

footer>div{
    width:30%;
    padding:30px;
}

footer a{
    font-size:15px;
    color:rgb(206, 202, 202);
    margin-bottom:17px;
}

.footer-nav{
margin-left:30px;
}

.footer-nav ul{
    list-style: none;
}

footer .span1{
    margin-right:15px;
    font-size:20px
}

.footer-nav a{
    margin-right:20px;
}
footer a:hover{
    text-decoration:none;
    color:var(--color2);
}

footer .copy{
    color:gray;
    font-size:12px;
}

footer .footer-input input{
    display: inline-block;
    width:60%;
}


footer .footer-input input:focus{
    border-color: rgba(184, 78, 78, 0.562);
    box-shadow: 0 0 0 0.2rem rgba(161, 65, 65, 0.404);
}


/* respnsive */

@media (max-width: 992px){
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

}

@media (max-width: 810px) {
    #gallery .gallery-body{
        column-count:2;
    }

    
   footer a,footer p{
       font-size:12px;
      
   }
   footer .btn{
       font-size:11px;
        padding:5px;
       margin-top:5px;
   }
   footer .copy p{
       font-size:10px;
   }


 }


@media (max-width: 576px) {
    #gallery .gallery-body{
        column-count: 1;
    }
    
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0px;
    }
    .navbar-expand-lg .navbar-nav a {
        font-size: 15px;
        margin-bottom:10px;
    }

    
#contact-flex{
    display:block;
}

.contact-item{
border-right:none !important;
border-bottom:2px solid white;
padding-bottom:20px;
}

.contact-item3{
border-bottom:none;
border-right:none;
}
footer{
    display:block;
    text-align:center;
    padding:0;
    height:240px;
}
footer>div{
    width:100%;
}
footer li,footer a,footer .social div{
    display:inline-block;
}
.footer-nav{
    padding:10px;
    margin:0;
}
footer .span2{
    display:none;
}
.social{
    padding:0;
}
.footer-input{
    padding:0;
}
footer .btn{
    font-size:14px;
    padding:7px;
    margin-top:-5px;
}

 }
